
.summaryText {
    text-align: center;
}

.endWorkout {
    text-align: center;
}


.lastWorkoutData {
    padding-left: 30%;
    padding-right: 30%;
    font-size: 25px;
}

.nav-link {
    font-size: 20px;
    color: white !important;
}

.home-content {
    text-align: center;
}

.greetingText {
    padding-top: 100px;
    padding-bottom: 20px;
}

.start-workout {
    margin-top: 100px;
    text-align: center;
}

#current {
    text-align: center;
    margin-top: 20px;
}

#timer {
    padding-bottom: 30px;
}
 #edd {
     width: 150px;
 }

 #number {
     width: 70px;
 }

 #reps {
     width: 70px
 }

#formrow {
    margin-bottom: 15px;
}

.summary {
    text-align: center;
}

.menu {
    background: #475af1;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.startButton {
    padding-top: 15px;
}
